@model Penkoff_ASP.NET_Core_.Models.MyCardsViewModel;

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/MyCards.css">
    <title>My cards</title>
</head>

<body>
    <h1>Your cards:</h1>


    @foreach (var card in Model.Cards.Where(u => u.UserId == Model.User.Id))
    {
        <div class="card">
            @switch (card.Type)
            {
                case Penkoff.Storage.Entities.Types.PerformanceEdition:
                    <div id="rectangle1">
                        <h6 id="card-number">@card.Pan</h6>
                        <h5 id="card-holder">@Model.User.LastName @Model.User.FirstName</h5>
                        <h6 id="date">@card.ExpirationDate</h6>
                    </div>
                    break;

                case Penkoff.Storage.Entities.Types.BillyEdition:
                    <div id="rectangle2">
                        <h6 id="card-number">@card.Pan</h6>
                        <h5 id="card-holder">@Model.User.LastName @Model.User.FirstName</h5>
                        <h6 id="date">@card.ExpirationDate</h6>
                        </div>
                    break;

                case Penkoff.Storage.Entities.Types.UltimateEdition:
                    <div id="rectangle3">
                        <h6 id="card-number">@card.Pan</h6>
                        <h5 id="card-holder">@Model.User.LastName @Model.User.FirstName</h5>
                        <h6 id="date">@card.ExpirationDate</h6>
                        </div>
                    break;

                default:
                    break;
            }


        </div>
    }



    <h2>Get a new card:</h2>

    <div class="Van-card">
        <img class="van-image" width="300" height="200" src="~/images/FinalVan.png" />
        <h3>♂Performance artist Edition♂</h3>
        <h4>10% cashback at the gym</h4>
        <h4>Leatherman status</h4>
        <h4>10% cashback on latex gloves</h4>
        <input type="button" class="make-van-card" value="Get" onclick="location.href='@Url.Action("GetPerformanceCard","Services")'" />
    </div>

    <div class="Billy-card">
        <img class="billy-image" width="300" height="200" src="~/images/FinalBilly.jpg" />
        <h3>♂Billy Special Edition♂</h3>
        <h4>15% cashback on leather pants</h4>
        <h4>Boss of the gym status</h4>
        <h4>20% cashback on beer</h4>
        <input type="button" class="make-billy-card" value="Get" onclick="location.href='@Url.Action("GetBillyCard","Services")'" />
    </div>

    <div class="ultimate-card">
        <img class="ultimate-image" width="300" height="200" src="~/images/UltimateFinal.jpg" />
        <h3>♂Ultimate Edition♂</h3>
        <h4>Free maintenance</h4>
        <h4>Free access to lounge areas</h4>
        <h4>20% cashback on all purchases</h4>

        <input type="button" class="make-ultimate-card" value="Get" onclick="location.href='@Url.Action("GetUltimateCard","Services")'" />
    </div>



</body>