@model Penkoff_ASP.NET_Core_.Models.ServicesViewModel;

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Services.css">
    <title>Services</title>
</head>

<body>
    <a class="send-money" asp-action="SendMoney" asp-controller="Services">
        <img class="send-money-icon" src="~/images/send-money.png" />
    </a>

    <a class="transaction-history" asp-action="Operations" asp-controller="Services">
        <img class="transaction-history-icon" src="~/images/operationsHistory.png" />
    </a>

    <h3>Deposit:</h3>
    <div class="deposit">

        <div id="rectangle">
        <h2>Rate: 20%</h2>
        <h4>Period: 36 months</h4>
    </div>

    <form asp-action="Deposit" asp-controller="Services">
        <p>
        <input required min=1 asp-for="Amount"/>
        </p>
    <input type="button" class="ruble-button" value="RUB" onclick="location.href='@Url.Action("SetRuble", "Services")'" />
    <input type="button" class="dollar-button" value="USD" onclick="location.href='@Url.Action("SetDollar", "Services")'" />
    <input type="button" class="euro-button" value="EUR" onclick="location.href='@Url.Action("SetEuro", "Services")'" />

        <input type="submit" value="Get" class="submit-button"/>
    </form>
    </div>

    <h5>Credit: </h5>

    <div class="credit">

        <div id="rectangle1"></div>
        <h2>Rate: 420%</h2>
        <h4>Period: 69 months</h4>

        <form asp-action="Credit" asp-controller="Services">
        <p>
            <input required min=1 asp-for="Amount" />
        </p>
        <input type="submit" value="Get" class="submit-button1" />
        </form>
        <input type="button" class="ruble-button1" value="RUB" onclick="location.href='@Url.Action("SetRuble", "Services")'" />
    <input type="button" class="dollar-button1" value="USD" onclick="location.href='@Url.Action("SetDollar", "Services")'" />
    <input type="button" class="euro-button1" value="EUR" onclick="location.href='@Url.Action("SetEuro", "Services")'" />
    </div>
    
</body>